
<div class="banner">
  <div class="container">
  <%= image_tag "https://www.pngitem.com/pimgs/m/177-1773350_rocks-premium-cocktails-hd-png-download.png"%>
    
  </div>
</div>

<div class="container">
	<div class="cards">

		<% @cocktails.each do |cocktail| %>
			<%= link_to cocktail_path(cocktail) do %>
		    <% if cocktail.photo.attached? %>
					<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, width:100 , height:150, crop: :fill %>')">
						<%=cocktail.name %>
					</div>
				<% else %>
					<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://www.pngitem.com/pimgs/m/177-1773350_rocks-premium-cocktails-hd-png-download.png')">
					<%=cocktail.name %>
					</div>
			  <%end%>
			<% end %>
		<% end %>
	</div>
<%= link_to "Create your Cocktail", new_cocktail_path  %>
</div>
